.dropdown-style{
    color: #c19556;
    font-size: 25px;
    
}

.menu-name{
    color: #c19556;
    font-size: 20px;
    font-family: open sans;
    font-weight: 600;
    
}

.menu{
    border: 0.01px solid #c19556;
    background-color: rgb(22, 22, 22);
    
}


.menu-item, .menu-price{
    color: #efefef;
    font-size: 15px;
    font-family: Lato, sans-serif;
    font-weight: 600;
}

.hr-line{
    margin-top: -10px;
    color: #c19556;
}


